.app{
    display: flex;

    &__leftside{
        flex: 1,
    }
    &__rightside{

        flex:3,
    }
}
.reset{
    margin: 0;
    padding: 0;
   
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
}